/*    CSS RESET    */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/*    CSS RESET END    */

@font-face {
font-family: "StatoilMedium";
    src: url(../fonts/Statoil-SansMedium.otf) format("truetype");
}
em { font-style: italic; }
strong { font-weight: bold; }
html {
    margin: 0;
    padding: 0;
    font-family: "StatoilMedium";
    font-size: 1.1em;
}
body {
    margin: 0;
    padding: 0;
}
h1 { font-size: 1.5em; font-weight: bold;}
h2 { font-size: 1.25em; font-weight: bold;}
header, footer {
    width: 100%;
    background: #3a3a3a;
    color: #e3e3e3;
    padding: 1em 0;
}
#headerWrapper, #footerWrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#headerWrapper img {
    width: 100px;
}
header a { text-decoration: none; }
header a:hover { color: inherit; }
main {
    width: 80%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
}
#intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
#contact {
    width: 100%;
}
#intro h2, #contact h2 { margin: 0 0 1em 0;}
#introWrapper {
    background: #f8f8f8;
    border-radius: 2px;
    width: 40%;
    padding: 2em;
}
#contactWrapper {
    background: #f8f8f8;
    border-radius: 2px;
    width: 40%;
    padding: 2em;
    margin: auto;
}
#faq {
    background: #f8f8f8;
    border-radius: 2px;
    border: 2px solid #a1a1a1;
    width: 10%;
    padding: 0.25em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration:  none;
    font-size: 1.25em;
    font-weight: bolder;
}
#faq:hover {
    background: #f3f3f3;
}
#services {
    display: flex;
    margin: 2em auto;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 2px solid #a1a1a1;
    border-top: 2px solid #d1d1d1;
    padding: 2em 0;
}
.service {
    flex-basis: auto;
    width: 28%;
    display: flex;
    flex-direction: column;
    margin: 0.2em 0.2em;
    flex-grow: 1;
    background: #f8f8f8;
    border-radius: 2px;
    padding: 1em;
}
.service:hover {
    background: #f3f3f3;
}
.service img {
    height: 100px;
    margin: 0 0 1em 0;
}
.serviceText {
    width: 100%;
    align-self: center;
}
.serviceText h2 {
    text-align: center;
    margin: 0 0 2em 0;
    font-weight: bolder;
}
.serviceText p {
    margin: 0 5%;
}
.serviceImage {
    width: 25%;
    text-align: center;
    align-self: center;
}
a:link { color: inherit; }
a:visited { color: inherit; }
a:hover { color: black; }
a:active { color: inherit; }

footer a { text-decoration: none; }
footer a:hover { color: inherit; }
.code {
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    padding: 0.5em;
    margin: 1em 0;
    background: #e8e8e8;
    font-family: monospace;
}
